<!doctype html>
<html ng-app="wordyApp">
  <head>
    <meta charset="utf-8">
    <title>wordy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>

    <div class="container" role="main">

      <h1>Wordy</h1>

      <p>Shuffle the letters of a word or group of words.</p>

      <div id="wordy-main" ng-controller="WordyController">
        <form class="form-inline" ng-submit="isItAWord(words)">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="str" ng-change="wordy(str)">
          </div>
          <button ng-if="words" ng-click="clearWordList()" id="clear-word-list" class="btn btn-default">Clear Words</button>
        </form>

        <br>

        <div class="wordlist-container">
          <ul class="list-unstyled" ng-repeat="word in words track by $index">
            <li ng-cloak>{{word}}</li>
          </ul>
        </div>
      </div>

    </div>

    <script src="lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
